body {
    background: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

#game {
    position: relative;
    width: 1000px;
    height: 300px;
    background: #111;
    margin: 20px auto;
    overflow: hidden;
    border: 3px solid white;
}

#player {
    position: absolute;
    width: 40px;
    height: 40px;
    background: cyan;
    left: 150px;
    bottom: 0;
}

.spike {
    position: absolute;
    width: 40px;
    height: 40px;
    background: red;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    bottom: 0;
}

.portal {
    position: absolute;
    width: 30px;
    height: 80px;
    background: purple;
    bottom: 0;
}
